.nov-19 {
    border-radius: 20px;
    border: 1px solid black;
    width: 150px;
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    justify-content: space-between;
    margin-right: 10px;
    padding: 0 10px;
}

.nov-port-val {
    font-size: 12px;
}

.nov-19-1 {
    font-size: 15px;
}

.nov-port-div {
    line-height: 0;
}

.nov-19-arrow{
    font-size: 12px;
    color:aqua;
    font-weight: bold;
  }