.sep-19 {
  border-radius: 20px;
  border: 1px solid black;
  width: 150px;
  display: flex;
  flex-direction: column;
  /* Arrange items vertically */
  justify-content: space-between;
  margin-right: 10px;
  height:250px;
  padding: 0 10px;
}

.sep-port-val {
  font-size: 12px;
}

.sep-19-1 {
  font-size: 15px;
}

.sep-port-div {
  line-height: 0;
}

.sep-19-arrow{
  font-size: 12px;
}